<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="css/login.css" type="text/css">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Overlock:wght@700&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap" rel="stylesheet">
</head>
<body> 
    <div class="parent">
        <div class="container">
            <form class="container1" method="post" action="/login">
                <p class="login">
                 Sign In
                </p>
                 <input type="text" name="username" id="username" placeholder="Username" required="true">
                 <input type="password" name="password" id="password" placeholder="Password" required="true">
                 <button type="submit" id="submit">Log In</button> 
             </form>
             <button type="submit" class="btn" onclick="create()">Create a new account</button>

        </div>
       

    </div>
   
   <script>
       function create(){
        location.href = "http://localhost:3000/register";
       }
   </script>
   
</body>


</html>