.heading
{
    background-color: rgb(0, 153, 255) ;
    color: white;
    width:75vw;
    height: 10vh;
        display: block;
    margin-right: auto;
    margin-left: auto; 
    border-radius: 20px;
    font-size: 2.5rem;
    padding-left: 10px;
    font-family: 'Roboto', sans-serif;
    line-height: 10vh;
  
}
.title
{
    font-size: 2.5rem;
    padding-left: 10px;
    font-family: 'Roboto', sans-serif;
   


}
.messages{
    background-color: aliceblue;
    width:75vw;
    height: 70vh;
        display: block;
    margin-right: auto;
    margin-left: auto; 
    margin-top: 2%;
    position: relative;
    overflow: scroll;

}

.inputMsg{
    /* border: 1px solid purple; */
    height: 5vh;
    border-radius: 15px;
    width:75vw;
    display: block;
    margin-right: auto;
    margin-left: auto; 
    margin-top: 10px;
    padding: 0;


}
#msg{
    width:90%;
    height:40px;
    border-radius: 15px;
    margin-top: 0;
    padding-left: 10px;
    font-size: large;
    border: 1px solid rgb(0, 153, 255);;
}
#sendbuttton{
    width: 50px;
    height: 50px;
    color: white;
    background-color:rgb(0, 153, 255);
    border: none;
    border-radius: 10px;
    margin-top: 0;
}
#sendbuttton:hover
{
    
        cursor: pointer;
        box-shadow: 2px 2px 3px rgb(59, 91, 97);
        font-size: large;
}
.left
{
    min-height: 25px;
    max-width: 75%;
    background-color: #c9c9c9;

    color: black;
    float: left;
    margin-top:15px;
    line-break: normal;
    margin-left: 5px;
    padding: 5px;
    border-radius: 0px 10px   10px 21px;
    padding-left: 10px;
    padding-right: 8px;
    padding-top: 5px;
    padding-bottom: 5px;
    clear: both;
}
.right{
    min-height: 25px;
    max-width: 75%;
    background-color: rgb(0, 153, 255);
    color: white;
   float: right;
   margin-top:15px;
   line-break:auto;
   margin-right: 5px;
   border-radius: 10px 0px 21px 10px;
   padding-left: 5px;
   padding-right: 10px;
   padding-top: 5px;
   padding-bottom: 5px;
   clear: both;
}